.vs/Software-Quality/FileContentIndex/a6c9a7e6-d72f-4b33-ad16-de5434ed7afd.vsidx
.vs/Software-Quality/FileContentIndex/ba5607d7-cdb4-4807-9a9e-17450849efa3.vsidx
.vs/Software-Quality/FileContentIndex/read.lock
.vs/slnx.sqlite
.vs/Software-Quality/FileContentIndex/d6b12755-2e05-4ddd-88de-e8eb9e79d0b3.vsidx
